<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This application was created for an assessment in a Web Server Module for my fourth year of Multimedia Applications Development. It was development using the Ruby on Rails language and Framework. 
</p>